.DS_Store
*/.DS_Store
DS_Store/

.ipynb_checkpoints
*/.ipynb_checkpoints
.ipynb_checkpoints/

./datasets
*/datasets
datasets/

./dataset
*/dataset
dataset/

./model_objects
*/model_objects
model_objects/

./untitled_project
*/untitled_project
untitled_project/

./augmented_images
*/augmented_images
augmented_images/

./course_repo
*/course_repo
course_repo/

./images
*/images
images/

./Haarcascades
*/Haarcascades
Haarcascades/

./recordings
*/recordings
recordings/
